<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">{{ selectedRecipe.name }}</h3>
    <div class="dropdown pull-right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
  <div class="panel-body">
    <p>{{ selectedRecipe.description }}</p>
    <p>Ingredients</p>
  </div>
</div>
