<div class="row">
  <div class="col-xs-12">
    <p>Add new servers or blueprints!</p>
    <label for="name">Server Name</label>
<!--    <input type="text" name="name" class="form-control" [(ngModel)]="newServerName">-->
    <input type="text" name="name" class="form-control" #serverName>
    <label for="content">Server Content</label>
<!--    <input type="text" name="content" class="form-control" [(ngModel)]="newServerContent">-->
    <input type="text" name="content" class="form-control" #serverContentInput>
    <button type="button" class="btn btn-primary" (click)="onAddServer(serverName)">Add Server</button>
    <button type="button" class="btn btn-primary" (click)="onAddBlueprint(serverName)">Add Server Blueprint</button>
  </div>
</div>
