<label>Server Name</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<!--  #myVar="ngModel"-->
<!--  (ngModelChange)="logModel(myVar)">-->

<!--<input-->
<!--  type="text"-->
<!--  class="form-control"-->
<!--  (input)="onUpdateServerName($event)">-->

<!--<p>{{ serverName }}</p>-->

<button
  class="btn bg-primary"
  [disabled]="waitingForNewServer"
  (click)="onServerCreated()">Add Server</button>
<br>
<p [innerText]="'Waiting for new server (' + waitingForNewServer + ')'"></p>
<p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer>
  <p>No server created!</p>
</ng-template>

<app-server *ngFor="let server of servers"></app-server>

<label>Username</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="username">
<p>{{ username }}</p>
<button
  class="btn bg-primary"
  [disabled]="username === ''"
  (click)="username=''">Submit username</button>
